@use './pages/loginPage';
@use './pages/homePage.scss';
@use './components/header.scss';
@use './components/post.scss';
@use './pages/profilePage.scss';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
  padding: 0;
}
